node_modules
package-lock.json
.svelte-kit

# Output
.output
.vercel
/.svelte-kit
/build
/coverage
/playwright-report

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
package-lock.json
test-results
test-results/.last-run.json
/test-results
/test-results
